.heading {
    margin-bottom: 56px;
    display: flex;
    align-items: center;
}

.heading img {
    margin-right: 16px;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.table th, .table td {
    text-align: left;
    padding: 12px 0;
}

.table tr {
    border-bottom: 1px solid #EEEEF3;
}

.additional-btn {
    display: inline-flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 0;

}

.additional-btn-icon-bordered {
    border: 1px solid #6F768C;
    border-radius: 5px;
    width: 19px;
    height: 19px;
    position: relative;
}

.additional-btn-icon-bordered svg {
    top: 50%;
    right: 50%;
    margin-top: -5px;
    margin-right: -5px;
    position: absolute;
}

.additional-btn-icon {
    margin-right: 19px;
}