.button {
    padding: 24px 32px;
    background: transparent;
    border: none;
    border-radius: 16px;
    text-align: center;
    transition: background-color 0.15s ease-out, border-color 0.15s ease-out, color 0.15s ease-out;
}

.button--primary {
    background: #89BADE;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    border: 2px solid #89BADE;
}

.button--primary:disabled {
    background: #ECEFF6;
    border-color: #C5C8D1;
    cursor: not-allowed;
}

.button--bordered {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #6F768C;
    border: 2px solid #6F768C;
}

.button--bordered:not(:disabled):hover,
.button--primary:not(:disabled):hover {
    background-color: #4461A1;
    border-color: #4461A1;
    color: #FFFFFF;
}

.button--bordered:not(:disabled):active,
.button--primary:not(:disabled):active {
    background-color: #023A63;
    border-color: #023A63;
    color: #FFFFFF;

}