.heading {
    margin-bottom: 56px;
    display: flex;
    align-items: center;
}

.application {
    width: 200px;
}

.heading img {
    margin-right: 16px;
}

.description {
    margin-bottom: 35px;
}

.increase-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.increase-body {
    display: flex;
    align-items: center;
}

.increase-title {
    margin-right: 24px;
}

.increase-region {
    margin-right: 24px;
}

.increase-input {
    width: 96px;
    margin-right: 24px;
}

.form {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.table th, .table td {
    text-align: left;
    padding: 12px;
}

.table tr {
    border-bottom: 1px solid #EEEEF3;
}

.toggle-view {
    background: transparent;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    font-size: 21px;

    color: #6F768C;
    margin-top: 16px;
}

.toggle-view svg {
    margin-right: 18px;
    width: 18px;
}