.heading {
    margin-bottom: 56px;
    display: flex;
}

.heading img {
    margin-right: 16px;
}

.form {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.table th {
    font-size: 20px;
    font-weight: 700;
}

.table th, .table td {
    text-align: left;
    padding: 12px 8px;
}

.table th:first-of-type, .table td:first-of-type {
    padding-left: 0;
}

.table th:last-of-type, .table td:last-of-type {
    padding-right: 0;
}

.table tr {
    border-bottom: 1px solid #EEEEF3;
}

.bordered {
    border-right: 1px solid #EEEEF3;
}

.toggle-view {
    background: transparent;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    font-size: 21px;

    color: #6F768C;
    margin-top: 16px;
    margin-bottom: 30px;
}

.toggle-view svg {
    margin-right: 18px;
    width: 18px;
}

.table-wrap {
    overflow: auto;
    max-width: 100%;
}